.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.social-icon img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.social-icon img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.social-icon span:hover {
  color: #ffdd57;
}
